@font-face {
  font-family: 'Ownglyph_meetme-Rg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body {
  /* 기본(공통) 스타일 */
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
}
img{
  display: block;
}
a {
  text-decoration: none;
  color: black;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px 0; */

}header {
  background-color: white;
  /* max-width: 1100px; */
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-content: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  /* box-sizing: border-box; */
}
header .flex-center {
  margin-left: 20px;
}
header .flex-center li {
  /* flex: 1; */
}
header .flex-center a {
  /* width: 100%; */
  padding: 40px 50px;
}
header .flex-center a.logo {
  padding: 22px 50px;
}
header .flex-center img.snsic {
  /* display: flex; */
  margin: 0 5px;
}
header .flex-center img.snsic:hover  {
  cursor: url('../img/ribon.png')32 32, auto;
}

/* 메인메뉴 */
header .main-menu {
  display: flex; 
  z-index: 1;
  position: relative; 
  /* font-family: "Jua", sans-serif; */
  font-size: 18px;
  font-weight: bolder;
}
header .main-menu .flex-center .item__name ul li {
  display: block;
  padding: 0 10px 20px;
  color: #000;
  box-sizing: border-box;
}
header .main-menu  .flex-center ul {
  position: fixed;
  display: none;
  text-align: center;
  width: 140px;
  background-color: white;
  margin-top: 37px;
  margin-left: 15px;
  font-size: 14px;
}
header .main-menu .flex-center ul > li {
  padding: 14px 0;
}
header .main-menu .flex-center li:first-child:hover ul {
  display: block;
}  
header .main-menu .flex-center .item__name:hover {
  color: #387FAF;
}
header .main-menu .flex-center ul li:hover {
  background-color: #387FAF;
  color: white;
  width: 140px;
}

/* 프로모션 */
.promotion {
  width: 100%;
  height: 100%;
  /* height: 880px; */
  background-color: #f6f5ef;
  position: relative; /* 페이지네이션 요소 배치를 위해  */
  transition: height 0.3s;
  margin-top: 100px;
}
.promotion img {
  /* margin-top: 90px; */
  width: 100%;
  height: 880px;
}

/* 메인배너 내 텍스트 */
.promotion .swiper-slide {
  position: relative;
}
.promotion .swiper-slide .banner_text {
  position: absolute;
  bottom: calc(100% / 6);
  left: calc(100% / 10);
  width: 100%;
  text-align: start;
  color: white;
  font-weight: 600;
  text-shadow: 2px 2px 4px #000;
}
.promotion .swiper-slide .banner_text h2 {
  font-size: 45px;
}
.promotion .swiper-slide .banner_text h3 {
  font-size: 25px;
}
.promotion .swiper-slide .banner_text p {
  font-size: 16px;
  padding-top: 20px;
}

/* 이벤트 */
.event {
  overflow: hidden;
  width: 100%;
  height: 880px;
  background-color:white;
  position: relative; /* 페이지네이션 요소 배치를 위해  */
  transition: height 0.3s;
}
.event img {
  position: absolute;
  width: 540px;
  left: calc(100% / 2);
  top: 200px;
}
.event .swiper-pagination {
  position: absolute;
  bottom: 40px;
  z-index: 1;
  font-size: 15px;
  color: black;
  font-family: "Jua", sans-serif;
}

/* 이벤트메뉴 내 텍스트 */
.event .swiper-slide {
  position: relative;
}
.event .swiper-slide .event_text {
  position: absolute;
  /* position: relative; */
  padding-top: 250px;
  padding-left: calc(100% / 5);
  width: 540px;
  font-family: "Jua", sans-serif;
}
.event .swiper-slide .event_text h3 {
  font-size: 45px;
  font-weight: 700;
  color: black;
  padding-bottom: 8px;
}
.event .swiper-slide .event_text span {
  font-size: 35px;
  font-weight: 550;
  color: white;
  background-color: #387faf;
  padding: 5px;
}
.event .swiper-slide .event_text p {
  font-size: 29px;
  padding-top: 20px;
  color: black;
  margin: 0;
  padding-top: 25px;
}

/* 이벤트메뉴 내 버튼 */
.event .swiper_event .btn_menu {
  display: block;
  position: absolute;
  padding-top: 600px;
  padding-left: calc(100% / 5);
}
.event .swiper_event .btn_menu .btn__menu {
  border-radius: 20px;
  background-color: #313131;
  color: white;
  border: 2px solid #333;
  box-sizing: border-box;
  width: 170px;
  font-size: 20px;
  padding: 10px;
  /* font-family: "Jua", sans-serif; */
  font-family: 'Ownglyph_meetme-Rg';
}
.event .swiper_event .btn_menu .btn__menu:hover {
  cursor: pointer;
}
.event .swiper_event .swiper-pagination-bullet-active {
  background-color: pink;
}

/* 유튜브 */
.youtube {
  position: relative; /* 부모에 위치 기준 */
  height: 880px;
  background-color: #333;
  overflow: hidden; /* 영상 출력 넘치는 부분 숨기기 */

  /* 정가운데 배치 방법1 */
  display: flex;
  justify-content: center;
  align-items: center;
}
.youtube .youtube__area {
  width: 1280px;
  height: 720px;
}
#player {
  /* 부모 영역에 가득 차도록 지정 */
  width: 100%;
  height: 100%;
}

/* 배달 */
.delivery {
  background-color: white;
  width: 100%;
  height: 665px;
  position: relative;
  /* display: block; */
}
.delivery .del_bg {
  position: absolute;
  top: 10%;
  right: 23%;
}
.delivery .del_1 {
  position: absolute;
  top: 28%;
  left: 22%;
}
.delivery .del_2 {
  position: absolute;
  top: 13%;
  left: 32%;
}
.delivery .del_3 {
  position: absolute;
  top: 27%;
  left: 42%;
}
/* .delivery .del_button {
  position: absolute;
  bottom: 18%;
  left: 35%;
}
.delivery .del_btn {
  display: block;
  font-size: 20px;
  font-weight: 700;
  padding: 25px 10px;
  border-radius: 50px;
  background-color: lightpink;
  color: black;
  border: 2px solid rgb(240, 173, 184);
  box-sizing: border-box;
  width: 200px;
  cursor: pointer;
} */
.delivery .best_menu {
  position: absolute;
  display: flex;
  bottom: 10%;
  left: 35%;
  cursor: pointer;
  color: black;
}
.delivery .best_menu h2 {
  /* font-family: "Jua", sans-serif; */
  font-family: 'Ownglyph_meetme-Rg';
  font-size: 25px;
  font-weight: 500;
  padding-right: 10px;
}
.delivery .best_menu .toggle-menu .material-icons {
  font-size: 30px;
}

/* 추천메뉴 */
.best {
  height: 225px;
  background-color: white;
  display: flex;
  justify-content: center;
  position: relative;
  transition: height 0.2s;
}
.best.hide {
  /* display: none; */
  height: 0;
  overflow: hidden;
}
.best .swiper {
  width: calc(300px * 5);
  /* width: 200px; */
  flex-shrink: 0;
}
.best .swiper img {
  margin: 0 auto;
}
.best .swiper-slide-active {
  opacity: 1;
}
.best .swiper-slide img {
  height: 180px;
}
.best .swiper-pagination {
  position: absolute;
  bottom: 0;
}
.best .swiper .swiper-pagination-bullet-active {
  background-color: pink;
}
/* .best .swiper-button-prev,
.best .swiper-button-next {
  width: 42px;
  height: 42px;
  border: 2px solid pink;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  color: pink;
  transition: 0.2s;
} */
/* .best .swiper-button-prev {
  left: 50%;
  margin-left: -50px;
  margin-top: 30px;
}
.best .swiper-button-next {
  right: 50%;
  margin-right: -50px;
  margin-top: 30px;
} */
/* .best .swiper-button-prev:hover,
.best .swiper-button-next:hover {
  background-color: pink;
  color: #fff;
} */
/* .best .swiper-button-prev::after,
.best .swiper-button-next::after {
  display: none;
} */

/* FOOTER */
footer {
  background-color: #313131;
  border-top: 1px solid #333;
  text-align: center;
  position: relative;
  border-top: 1px solid black;
}
footer .info {
  margin-top: 10px;
  text-align: center;
}
footer .info img {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}
footer .info p {
  color: #CBCBCB;
  font-size: 12px;
  padding: 5px 0;
  text-align: center;
}
footer .info span {
  margin-left: 25px;
}
footer .copyright {
  color: #CBCBCB;
  font-size: 12px;
  text-align: center;
  padding-bottom: 50px;
}
footer .info .lofo {
  margin: 30px auto 0;
}

/* 가맹문의 ic */
#franchise {
  display: block;
  /* width: 100%; */
}
#franchise .franchise_ic {
  width: 114px;
  position: fixed;
  right: 50px;
  bottom: 70px;
  z-index: 1;
}

/* 모달창 */
#modal {
  position: fixed;
  width: 570px;
  height: 770px;
  top: 80px;
  left: 180px;
  border-radius: 6px;
  background-image: url(../img/popup.jpg);
  padding: 10px;
  box-sizing: border-box;
  background-size: cover; 
  z-index: 100;
} 
#modal button:hover {
  cursor: pointer;
  background-color: gold;
  border: 1px solid gold;
  font-weight: bold;
}

/* 모바일 */
@media screen and (max-width: 767px) {
  header .logo {
    margin-left: 40px;
  }
  header .main-menu a,
  header .snsic {
    display: none;
  }
  .promotion .swiper-slide .banner_text {
    position: absolute;
    left: 7%;
  }
  .event {
    left: 0%;
  }
  .event .event_text {
    position: absolute;
    /* left: 10%; */
    margin: 0 5px;
  }
  .event .swiper_event .swiper-wrapper img {
    /* width: 250px; */
    display: none;
  }
  .event .swiper_event .swiper-wrapper .btn__menu {
    position: absolute;
    bottom: 0px;   
    margin: 0 64px;
  }
  .delivery .del_bg {
    position: absolute;
    left: 4%;
  }
  .delivery .del_1,
  .delivery .del_2,
  .delivery .del_3 {
    display: none;
  }
  .best img {
    width: 40%;
  }
  footer .info {
    width: 369px;
    margin: 0 auto;
  }
  #modal {
    position: fixed;
    left: 10%;
    width: 80%;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

/* 태블릿 */
@media screem and (min-width: 768px) {
  header {
    width: 100%;
  }
}