body {
  /* 기본(공통) 스타일 */
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
}
img{
  display: block;
}
a {
  text-decoration: none;
  color: black;
}
header {
  background-color: white;
  /* max-width: 1100px; */
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-content: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

header .item a {
  padding: 50px;
}

/* 메인메뉴 */
header .main-menu {
  display: flex; 
  z-index: 1;
  position: relative;
}
header .item {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px 0; */
}
header .main-menu > li > a {
  display: block;
  padding: 0 10px 20px;
  /* font-family: Arial, sans-serif; */
  font-size: 16px;
  font-weight: 900;
  color: #000;
  box-sizing: border-box;
}
header .main-menu .item__name:hover {
  color: #387FAF;
  /* display: block; */
}
header .main-menu  .item .item__contents {
  position: fixed;
  display: none;
}
header .main-menu .item li:first-child:hover .item__contents {
  display: block;
  background-color: white;
  width: 140px;
  /* text-align: center; */
  /* padding: 15px; */
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 40px;
}
header .main-menu .item .item__contents li {
  cursor: pointer;
  width: 100%;
  /* height: 100%; */
  padding: 15px;
  text-align: center;
  box-sizing: border-box;
  font-size: 14px;
}
header .main-menu .item .item__contents li:hover {
  background-color: #387FAF;
  width: 140px;
}

/* 오른쪽 상단 sns icon */
header .item img {
  /* display: flex; */
  margin-right: 5px;
}
header .snsic1:hover,
header .snsic2:hover,
header .snsic3:hover,
header .snsic4:hover {
  cursor: url('../img/ribon.png')32 32, auto;
}

/* 프로모션 */
.promotion {
  height: 100%;
  background-color: #f6f5ef;
  position: relative; /* 페이지네이션 요소 배치를 위해  */
  transition: height 0.3s;
}
.promotion img {
  width: 100%;
  height: 100%;
}

/* 메인배너 내 텍스트 */
.promotion .swiper-slide {
  position: relative;
}
.promotion .swiper-slide .banner_text {
  position: absolute;
  bottom: calc(100% / 6);
  left: calc(100% / 10);
  width: 100%;
  text-align: start;
  color: white;
  font-weight: 600;
  text-shadow: 2px 2px 4px #000;
}
.promotion .swiper-slide .banner_text h2 {
  font-size: 45px;
}
.promotion .swiper-slide .banner_text h3 {
  font-size: 25px;
}
.promotion .swiper-slide .banner_text p {
  font-size: 16px;
  padding-top: 20px;
}

/* 이벤트 */
.event {
  width: 100%;
  height: 900px;
  background-color:white;
  position: relative; /* 페이지네이션 요소 배치를 위해  */
  transition: height 0.3s;
}
.event img {
  position: absolute;
  width: 540px;
  /* height: 100%; */
  /* display: flex;
  justify-content: center;
  align-content: center; */
  /* position: absolute; */
  left: 50%;
  top: 200px
}

/* 이벤트메뉴 내 텍스트 */
.event .swiper-slide {
  position: relative;
}
.event .swiper-slide .event_text {
  position: absolute;
  /* position: relative; */
  padding-top: 250px;
  padding-left: calc(100% / 4);
  width: 540px;
  font-family: "Jua", sans-serif;
  /* font-weight: 400;
  font-style: normal; */
}
.event .swiper-slide .event_text h3 {
  font-size: 45px;
  font-weight: 700;
  color: black;
  padding-bottom: 8px;
}
.event .swiper-slide .event_text span {
  font-size: 35px;
  font-weight: 550;
  color: white;
  background-color: #387faf;
  padding: 5px;
}
.event .swiper-slide .event_text p {
  font-size: 29px;
  padding-top: 20px;
  color: black;
  margin: 0;
  padding-top: 25px;
}

/* 이벤트메뉴 내 버튼 */
.event .swiper_event .btn_menu {
  display: block;
  position: absolute;
  padding-top: 600px;
  padding-left: calc(100% / 4);
  /* top: 140px;
  left: 500px; */
  /* padding: 10px; */
}
.event .swiper_event .btn_menu .btn__menu {
  padding: 10px;
  border-radius: 20px;
  background-color: #313131;
  color: white;
  border: 2px solid #333;
  box-sizing: border-box;
  width: 130px;
  font-size: 17px;
  padding: 15px;
}



/* FOOTER */
footer {
  background-color: #313131;
  border-top: 1px solid #333;
  text-align: center;
  position: relative;
}
footer .info {
  margin-top: 10px;
  text-align: center;
}
footer .info img {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}
footer .info p {
  color: #CBCBCB;
  font-size: 12px;
  padding: 5px 0;
  text-align: center;
}
footer .info span {
  margin-left: 25px;
}
footer .copyright {
  color: #CBCBCB;
  font-size: 12px;
  text-align: center;
  padding-bottom: 50px;
}
footer .info .lofo {
  margin: 30px auto 0;
}

/* 가맹문의 ic */
.franchise {
  display: block;
  /* width: 100%; */
}
.franchise a {
  width: 500px;
}